/* .mulish-<uniquifier > {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
} */

* {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.nav-link {
  margin: auto;
  gap: 50px;
  font-size: large;
  font-weight: 900;
  max-width: 1000px !important;
}

.navbar .brand img {
  max-height: 55px;
}

.navbar .collapse {
  justify-content: center;
}

.btn-right-header {
  margin-left: auto;
}
.banner {
  background-color: #f5f5dc;
  margin: auto;
  min-height: 400px;
  align-content: center;
}

.banner .text {
  text-align: center;
  margin: 70px 0;
}

.banner .container {
  max-width: 1000px;
}

.banner img {
  max-width: 300px;
  border-radius: 5px;
}
